/* style.css */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffd700; /* رنگ زرد برای نوار ابزار */
    border-bottom: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.notepad-container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.notepad {
    background-color: #fff; /* رنگ سفید برای باکس نوشتاری اول */
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    width: 600px;
    height: 200px;
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    border: 1px solid #ddd;
    line-height: 1.6;
}

.spell-check {
    background-color: #add8e6; /* رنگ آبی کم رنگ برای باکس دوم */
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    width: 600px;
    height: 100px;
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    border: 1px solid #ddd;
    line-height: 1.6;
}

.spell-btn {
    background-color: #4d90fe;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
}
